body{
 background-color: #D8D8D8;
}
 
h2{
 margin-left: 500px;
 margin-right: 500px;
}

h5{
 margin-left: 550px;
 margin-right: 550px;
}

#formpl
{
 margin-left: 550px;
 margin-right: 550px;
}

#but
{
 position: relative;
 margin-left: 38px;
} 

#map-canvas
{
 margin-left: auto;
 margin-right: auto;
 width: 750px;
 height: 550px;;
} 